gradient-bg {
  background: linear-gradient(to left, #348F50 , #56B4D3) !important;
}

.where-bg {
  padding-top: 10%;
  background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51) !important;
  width: 100%;
  height: 100%;
}

.where-map {
  position: relative;
  width: 600px;
  height: 400px;
}

.travel-bg {
  padding-top: 0;
  background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51) !important;
  width: 100%;
  height: 100%;
}



#start-button {
  background-color:#4fc3f7;
  width:260px;
  height:70px;
  line-height:70px;
  font-size:18px;
  font-weight:400
}
